@media screen and (max-width:374px) {
    .footer-container {
        max-width: 374px;
        padding: 0 20px 0px 20px;
        margin: 0 auto;
        background-color: #fff;
    }
}

@media screen and (min-width:375px) {
    .footer-container {
        width: 375px;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
        background-color: #fff;
    }
}

.footer-wrap {
    background-color: #0c0c0c;
    border-radius: 30px;
    padding: 40px 28px 28px 28px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
}

.logo-group {
    margin-bottom: 20px;
}

.logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    color: #fbfbfb;
}

.foter-list-icon {
    display: flex;
    gap: 10px;
}

.footer-item-icon {
   
}

.footer-svg-icon{
   
}

.link-footer {
    display: flex;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(251, 251, 251, 0.1);
}

.footer-icon {
    align-self: center;
    fill: #f3f3f3a6;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover {
    fill: #fbfbfb;
}

.footer-svg-icon {}

.footer-paragraf {
    order: 2;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 279px;
    align-self: center;
}

.address-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    display: block;
    padding: 14px 20px;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    width: 152px;
    height: 44px;
    margin-bottom: 40px;
    white-space: nowrap;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #FBFBFB;
    margin-bottom: 24px;
}

.footer-nav {
    margin-right: 20px;
}

.footer-nav-list {
    max-width: 147px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.footer-nav-item {}

.footer-nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: #fbfbfb;
    display: block;
    padding: 3px 0;
}

.footer-main-paragraf {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    max-width: 83px;
}

.footer-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
    width: 187px;
}

.footer-rights {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width:768px) {
    .footer-container {
        width: 768px;
        padding: 0 32px 32px 32px;
    }

    .footer-wrap {
        padding: 40px 40px 28px 40px;
    }

    .footer-header {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 100px;
        gap: 86px 320px;
        justify-content: center;
    }

    .logo-group {}

    .footer-paragraf {
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        max-width: 524px
    }

    .address-link {
        font-size: 14px;
        line-height: 1.29;
        padding: 15px;
        width: 170px;
        height: 48px;
    }

    .footer-main {
        padding-bottom: 28px;
        margin-bottom: 28px;
    }

    .footer-nav-list {
        max-width: 400px;
        flex-wrap: nowrap;
        gap: 19px;
    }

    .footer-nav-link {
        padding: 10px 0;
    }

    .footer-nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
    }

    .footer-main-paragraf {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        max-width: 162px;

    }

    .footer-footer {
        flex-wrap: nowrap;
        gap: 0px 0px;
        width: 624px;
    }

    .footer-rights-reserved {}

    .footer-rights-service {
        margin-left: auto;
        margin-right: 20px;
    }
}

@media screen and (min-width:1280px) {
    .footer-container {
        width: 1280px;
        padding: 0 32px 32px 32px;
    }

    .footer-header {
        flex-wrap: nowrap;
        margin-bottom: 126px;
        gap: 0;
    }

    .logo-group {
        margin-right: 178px;
    }

    .footer-paragraf {
        order: 0;
    }

    .address-link {
        margin-left: auto;
    }

    .footer-nav-list {
        max-width: 500px;
        gap: 40px;
        white-space: nowrap;
    }

    .footer-footer {
        width: 1136px;
    }
    

}