.about-section {}

.about-content {
    word-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.img-man-about {
    border-radius: 16px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.text-gap {
    margin-bottom: 24px;
}

.text-list {
    margin-left: 32px;
    position: relative;
}

.text-list:last-child {
    margin-bottom: 0px;
}

.text-list::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 10px;
    width: 6px;
    height: 6px;
    background-color: #00b068;
    border-radius: 50%;
}


/*--------------------------------------------- MOBIL */
@media screen and (max-width: 359px) {
    .about-section {
        margin-bottom: 80px;
    }

    .about-content {
        font-size: 52px;
        line-height: 1.23;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .bio-container {
        width: 100%;
        height: 100%;
    }

    .img-man-about {
        display: block;
        width: auto;
        height: auto;
        object-fit: contain;
        margin-bottom: 40px;
    }

    .bio-text {}

    .title {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-transform: uppercase;

    }

    .decor-element {
        display: none;
    }

    .bio-container {
        margin-bottom: 40px;
    }

    .education-column {
        margin-bottom: 40px;
    }

    .text-list {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 360px) {
    .about-section {
        margin-bottom: 80px;
    }

    .about-content {
        font-size: 52px;
        line-height: 1.23;
        letter-spacing: 0.03em;
    }

    .bio-container {
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    .img-man-about {
        display: block;
        width: 320px;
        height: 374px;
        object-fit: contain;
        margin-bottom: 40px;
    }

    .bio-text {}

    .title {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    .decor-element {
        display: none;
    }

    .education-column {
        margin-bottom: 40px;
    }

    .text-list {
        margin-bottom: 12px;
    }
}

/*--------------------------------------------- TABLET */
@media screen and (min-width: 768px) {
    .about-section {
        margin-bottom: 124px;
    }

    .about-content {
        font-size: 108px;
        line-height: 1.14815;
        letter-spacing: 0.02em;
    }

    .bio-container {
        display: flex;
        gap: 32px;
        margin-bottom: 60px;
    }

    .img-man-about {
        margin-top: 368px;
        margin-bottom: 0;
    }

    .bio-text {
        width: 336px;
        height: 680px;
        position: relative;
    }

    .title {
        font-size: 36px;
        line-height: 1.33333;
        letter-spacing: 0.01em;
    }

    .decor-element {
        display: block;
        position: absolute;
        bottom: -264px;
        left: 0;
        width: 336px;
        height: 252px;
    }

    .education {
        display: flex;
        gap: 32px;
    }

    .education-column {
        margin-bottom: 0px;
        width: 336px;
        height: 280px;
    }

    .text-list {
        margin-bottom: 16px;
    }
}

/*--------------------------------------------- DESCTOP */
@media screen and (min-width: 1280px) {
    .about-section {
        margin-bottom: 164px;
    }

    .about-content {
        font-size: 108px;
        line-height: 1.14815;
        letter-spacing: 0.02em;
    }

    .bio-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    .img-man-about {
        margin-top: 272px;
        margin-left: 208px;
        width: 384px;
        height: 448px;
    }

    .bio-text {
        width: 488px;
        height: 488px;
    }

    .title {
        font-size: 36px;
        line-height: 1.33333;
        letter-spacing: 0.01em;
    }

    .decor-element {
        bottom: -292px;
        width: 336px;
        height: 252px;
    }

    .education {
        margin-left: 208px;
        gap: 136px;
    }

    .education-column {
        margin-bottom: 0px;
        width: 336px;
        height: 280px;
    }

    .text-list {
        margin-bottom: 16px;
    }
}